#import <UIKit/UIKit.h>

typedef NS_ENUM(NSInteger, SLDSFontSizeType) {
	{% for size in data.FontSize %}
	{{size.name}}{% if not loop.last %},{% endif %}{% endfor %}
};

typedef NS_ENUM(NSInteger, SLDSFontType) {
    SLDSFontTypeRegular,
    SLDSFontTypeItalic,
    SLDSFontTypeBold,
    SLDSFontTypeBoldItalic,
    SLDSFontTypeLight,
    SLDSFontTypeLightItalic,
    SLDSFontTypeThin,
    SLDSFontTypeThinItalic
};

#define sldsFontFileNames(enum) [@[\
    @"SalesforceSans-Regular.ttf",\
    @"SalesforceSans-Italic.ttf",\
    @"SalesforceSans-Bold.ttf",\
    @"SalesforceSans-BoldItalic.ttf",\
    @"SalesforceSans-Light.ttf",\
    @"SalesforceSans-LightItalic.ttf",\
    @"SalesforceSans-Thin.ttf",\
    @"SalesforceSans-ThinItalic.ttf"\
] objectAtIndex:enum]

#define sldsFontTypeNames(enum) [@[\
    @"SLDSFontTypeRegular",\
    @"SLDSFontTypeItalic",\
    @"SLDSFontTypeBold",\
    @"SLDSFontTypeBoldItalic",\
    @"SLDSFontTypeLight",\
    @"SLDSFontTypeLightItalic",\
    @"SLDSFontTypeThin",\
    @"SLDSFontTypeThinItalic"\
] objectAtIndex:enum]

#define sldsFontSizeNames(enum) [@[\{% for size in data.FontSize %}
    @"{{size.name}}",\{% endfor %}
] objectAtIndex:enum]

#define sldsFontSizes(enum) [[@[\{% for size in data.FontSize %}
    @{{size.value}},\{% endfor %}
] objectAtIndex:enum] integerValue]

@interface SLDSFont : NSObject
+(NSString*)sldsFontFileName:(SLDSFontType)fontType;
+(NSString*)sldsFontTypeName:(SLDSFontType)fontType;
+(NSString*)sldsFontSizeName:(SLDSFontSizeType)sizeType;
+(CGFloat)sldsFontSize:(SLDSFontSizeType)sizeType;

@end