#import <UIKit/UIKit.h>
{% for type, iconSet in icons %}
typedef NS_ENUM(NSInteger, SLDS{{type | capitalize}}IconType) {
	{% for i in iconSet %}
	SLDS{{i.name}}{% if loop.first %}{% if indexName === null %} = 0{% else %} = SLDS{{indexName}} + 1{% endif %}{% endif %}{% if not loop.last %},{% endif %}{% endfor %}
};

//-------------------------------------------------------------------
{% set indexName = iconSet[iconSet.length-1].name %}{% endfor %}

static float const sldsIconBackgroundColors[][3] = { {% for type, iconSet in icons %}{% for i in iconSet %}{% if i.backgroundColor !== 'null' %}
	{% raw %}{{% endraw %}{{i.backgroundColor.r}},{{i.backgroundColor.g}},{{i.backgroundColor.b}}{% raw %}}{% endraw %},{% endif %}{% endfor %}{% endfor %}
};

//-------------------------------------------------------------------

#define iconUniCode(enum) [@[\{% for type, iconSet in icons %}{% for i in iconSet %}
@"\u{{i.unicode}}",\{% endfor %}{% endfor %}
] objectAtIndex:enum]

//-------------------------------------------------------------------

#define sldsIconTypeNames(enum) [@[\{% for type, iconSet in icons %}{% for i in iconSet %}
	@"SLDS{{i.name}}",\{% endfor %}{% endfor %}
] objectAtIndex:enum]