#import <UIKit/UIKit.h>
{% for categoryName, category in data %}
typedef NS_ENUM(NSInteger, SLDS{{categoryName}}Type) {
	{% for v in category %}
	{{v.name}}{% if loop.first %}{% if indexName === null %} = 0{% else %} = {{indexName}} + 1{% endif %}{% endif %}{% if not loop.last %},{% endif %}{% endfor %}
};
{% set indexName = category[category.length-1].name %}
{% endfor %}

static float const sldsColors[][4] = { {% for categoryName, category in data %}{% for v in category %}
	{% raw %}{{% endraw %}{{v.value.r}},{{v.value.g}},{{v.value.b}},{{v.value.a}}{% raw %}}{% endraw %},{% endfor %}{% endfor %}
};

#define sldsColorTypeNames(enum) [@[\{% for categoryName, category in data %}{% for v in category %}
	@"{{v.name}}",\{% endfor %}{% endfor %}
] objectAtIndex:enum]

//@interface SLDSColor : NSObject
//{% for categoryName, category in data %}
//+(UIColor *)slds{{categoryName}}:(SLDS{{categoryName}}Type)colorType;{% endfor %}
//+(NSString*) sldsColorName:(NSInteger)colorType;
//@end