#import "UIColor+SLDSColor.h"

@implementation UIColor (SLDSColor)
{% set lastValue = 'empty' %}{% for categoryName, category in data %}{% for v in category %}{% set lastValue = v.name %}{% endfor %}{% endfor %}
{% for categoryName, category in data %}
+(instancetype)slds{{categoryName}}:(SLDS{{categoryName}}Type)colorType{
    //return [SLDSColor slds{{categoryName}}:colorType];
    return [self colorForIndex:colorType];
}

//-------------------------------------------------------------------
{% endfor %}
+(UIColor*)colorForIndex:(NSInteger)index {
    static NSMutableDictionary *colorCache = nil;
    if (colorCache == nil) {
        colorCache = [[NSMutableDictionary alloc] init];
    }

    UIColor *color = [colorCache objectForKey:[NSNumber numberWithInteger:index]];

    if( color == nil ) {
        color = [UIColor colorWithRed:sldsColors[index][0]
                                green:sldsColors[index][1]
                                 blue:sldsColors[index][2]
                                alpha:sldsColors[index][3]];

        [colorCache setObject:color forKey:[NSNumber numberWithInteger:index]];
    }

    return color;
}

//-------------------------------------------------------------------

+(NSString*)sldsColorName:(NSInteger)colorType {
    return sldsColorTypeNames(colorType);
}

@end